/* colors */

.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background-color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-text {
    color: $color-text;
}

.color-black-1 {
    color: $color-bg-1;
}

.color-bg-1 {
    background-color: $color-bg-1;
}

.color-black-2 {
    color: $color-bg-2;
}

.color-bg-2 {
    background-color: $color-bg-2;
}

.color-black-3 {
    color: $color-bg-3;
}

.color-bg-3 {
    background-color: $color-bg-3;
}