@font-face {
  font-family: poppins-medium;
  src: url(./assets/fonts/Poppins-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: worksans-bold;
  src: url(./assets/fonts/WorkSans-Bold.ttf);
  font-display: swap;
}
/* fonts */
/* Main Colors */
/* Gradient Colors */
/* Gradient Colors Mobile */
/* Icon Gradients */
/* Card Gradients */
/* Project Overlay */
* {
  margin: 0;
  padding: 0;
}

button, button:focus {
  outline: none;
  box-shadow: none;
}

ul, li {
  list-style: none;
}

input, input:focus {
  border: none;
  outline: none;
}

.btn {
  padding: 12px 34px;
  border-radius: 8px;
}

.line-break {
  width: 123px;
  height: 4px;
  margin-top: 20px;
}

/* Typography Classes */
/* Fonts */
.font-sans {
  font-family: "worksans-bold", sans-serif;
}

.font-poppins {
  font-family: "poppins-medium", sans-serif;
}

.font-roboto {
  font-family: "roboto-regular", sans-serif;
}

/* Font Sizes */
/* Mobile First */
.font-size-header {
  font-size: 35px;
}

.font-size-med {
  font-size: 20px;
}

.font-size-small {
  font-size: 20px;
}

@media only screen and (min-width: 900px) {
  .font-size-header {
    font-size: 60px;
  }
  .font-size-med {
    font-size: 32px;
  }
  .font-size-small {
    font-size: 30px;
  }
}
/* colors */
.color-primary {
  color: #84CFBB;
}

.color-primary-bg {
  background-color: #84CFBB;
}

.color-secondary {
  color: #FFFFFF;
}

.color-text {
  color: #AAAAAA;
}

.color-black-1 {
  color: #151515;
}

.color-bg-1 {
  background-color: #151515;
}

.color-black-2 {
  color: #0C0C0C;
}

.color-bg-2 {
  background-color: #0C0C0C;
}

.color-black-3 {
  color: #000000;
}

.color-bg-3 {
  background-color: #000000;
}

.header-img {
  width: 84px;
  height: 84px;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  overflow: hidden;
  position: absolute;
  background-color: #151515;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.navbar .nav-right {
  justify-self: end;
}

.nav-item a {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  margin-right: 20px;
  font-family: "roboto-regular", sans-serif;
}

.nav-item a:hover {
  color: gray;
}

/* MOBILE MENU & ANIMATION */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #84CFBB;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
  z-index: 10;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 900px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }
  /* MOBILE NAVIGATION */
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 0;
    background-color: rgba(54, 54, 54, 0.9);
    width: 100%;
    height: 100vh;
    transform: translate(-100%);
    text-align: center;
    overflow: hidden;
    z-index: 5;
    transition: transform 0.5s ease-out;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .navbar li a {
    font-size: 40px;
    color: white;
    font-family: "roboto-regular", sans-serif;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
}
/* Hero Section */
#hero {
  margin-top: 84px;
  position: relative;
  background-image: url(./assets/images/head.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
  /* Mobile-First */
}
#hero .hero-content-container {
  display: flex;
  width: calc(100% - 32px);
  height: calc(100vh - 84px);
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
#hero .hero-head {
  margin-top: 10px;
  width: 350px;
}
#hero .hero-text {
  margin-top: 20px;
}
#hero .hero-overlay {
  width: 100%;
  height: calc(100vh - 84px);
  background: linear-gradient(90deg, rgba(12, 12, 12, 0.8) 0.37%, rgba(38, 72, 63, 0.8) 109.27%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#hero .hero-img {
  width: 100%;
  height: calc(100vh - 84px);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
#hero .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#hero .social-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#hero .social-icon {
  width: 55px;
  height: 55px;
  margin: 40px 20px;
}

/* Method Section */
#method {
  width: 100%;
  /* Mobile-First */
}
#method .method-container {
  width: calc(100% - 32px);
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  padding: 84px 0px;
}
#method .method-head {
  margin-top: 10px;
}
#method .method-text {
  margin-top: 20px;
}
#method .btn-container {
  margin-top: 30px;
}
#method .cards {
  margin-top: 30px;
}
#method .card-container {
  width: 100%;
  background: linear-gradient(360deg, #243833 0%, #0C0C0C 38.69%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-around;
  margin-top: 40px;
}
#method .card-icon {
  width: 75px;
  height: 75px;
}
#method .card-container p {
  margin: 0px 32px;
  text-align: center;
}

/* Skills Section */
#skills {
  background-image: url(./assets/images/right-facing.jpg);
  background-position: -225px -30px;
  background-attachment: fixed;
  /* Mobile-First */
}
#skills .skills-container {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(38, 72, 63, 0.8) 100%);
  height: 100%;
  width: 100%;
  padding: 84px 0px;
}
#skills .skills-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills .grid {
  margin-top: 50px;
  display: grid;
  width: calc(100% - 32px);
  margin-left: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}
#skills .grid-item {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills .grid-item-text {
  margin-top: 16px;
}

/* About Section */
#about {
  /* Mobile-First */
  padding: 84px 0px;
}
#about .about-container {
  width: calc(100% - 32px);
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
#about .about-text {
  margin-top: 20px;
  width: 275px;
}
#about .icon-container {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
}
#about .icon-text {
  font-size: 30px;
  width: 100px;
  margin-left: 30px;
}

/* Portfolio Section */
#portfolio {
  background-image: url(./assets/images/other-side-view.jpg);
  background-position: 600px -30px;
  background-attachment: fixed;
  z-index: -4;
  /* Mobile-First */
}
#portfolio .portfolio-container {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(38, 72, 63, 0.8) 100%);
  height: 100%;
  width: 100%;
  padding: 84px 0px;
  z-index: -3;
}
#portfolio .portfolio-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#portfolio .grid {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 60px);
  margin-left: 30px;
}
#portfolio .grid-item {
  position: relative;
  width: 100%;
  height: 252px;
  margin-top: 50px;
}
#portfolio .grid-item h3 {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#portfolio .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
}
#portfolio .grid-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.3);
}
#portfolio .grid .grid-item:nth-child(3) img {
  object-position: -210px center;
}
#portfolio .grid .grid-item:nth-child(4) img {
  object-position: -40px center;
}

/*# sourceMappingURL=style.css.map */
