/* Animations */

/* Animations */
.slide-up {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 2s, opacity 2s;
  }
  
  .slide-up.show {
    transform: translateY(0);
    opacity: 1;
  }

  .slide-up.offset-300 {
    transition-delay: 300ms;
  }

  .slide-up.offset-600 {
    transition-delay: 600ms;
  }

  .slide-up.offset-900 {
    transition-delay: 900ms;
  }

  .slide-right {
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 2s, opacity 2s;
  }

  .slide-right.show {
    transform: translateX(0);
    opacity: 1;
  }