* {
    margin: 0;
    padding: 0;
}

button, button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

ul, li {
    list-style: none;
}

input, input:focus {
    border: none;
    outline: none;
}

.btn {
    padding: 12px 34px;
    border-radius: 8px;
    text-decoration: none;
}

.line-break {
    width: 123px;
    height: 4px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}