/* Hero Section */

#hero {

    position: relative;
    width: 100%;
    height: calc(100vh - 84px);
    margin-top: 84px;

    /* Mobile-First */

    .hero-img {
        position: absolute;
        background-image: url(./assets/images/head.png);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .hero-content-container {
        display: flex;
        width: calc(100% - 32px);
        height: calc(100vh - 84px);
        flex-direction: column;
        justify-content: center;
        margin-left: 16px;
    }

    .hero-head {
        margin-top: 10px;
        width: 350px;
    }

    .hero-text {
        margin-top: 20px;
    }

    .hero-overlay {
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg, rgba(12, 12, 12, 0.8) 0.37%,
            rgba(38, 72, 63, 0.8) 109.27%
        );
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .btn-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .social-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .social-icon {
        width: 55px;
        height: 55px;
        margin: 40px 20px;
    }
}