/* fonts */

$font-sans:"worksans-bold", sans-serif;
$font-poppins:"poppins-medium", sans-serif;
$font-roboto:"roboto-regular", sans-serif;

/* Main Colors */

$color-primary: #84CFBB;
$color-secondary: #FFFFFF;
$color-bg-1: #151515;
$color-bg-2: #0C0C0C;
$color-bg-3: #000000;

/* Gradient Colors */

$color-gradient-1:  rgba(38, 72, 63, 1);
$color-gradient-2: rbga(0, 0, 0, 0.69);

/* Gradient Colors Mobile */
$color-gradient-1: rgba(0, 0, 0, .8);
$color-gradient-2: rgba(38, 72, 63, .8);

/* Icon Gradients */
$icon-gradient-1: $color-primary;
$icon-gradient-2: $color-bg-1;

/* Card Gradients */
$card-gradient-1: #243833;
$card-gradient-2: $color-bg-2;

/* Project Overlay */
$project-overlay: rgba(0, 0, 0, .8);